@font-face {
    font-family: 'YekanBakh';
    src: url('../../../public/fonts/YekanBakh/YekanBakhFaNum04Regular.ttf');
    font-weight: 400;    
}

@font-face {
    font-family: 'YekanBakh';
    src: url('../../../public/fonts/YekanBakh/YekanBakhFaNum05Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'YekanBakh';
    src: url('../../../public/fonts/YekanBakh/YekanBakhFaNum06Bold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'YekanBakh';
    src: url('../../../public/fonts/YekanBakh/YekanBakhFaNum07Heavy.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'YekanBakh';
    src: url('../../../public/fonts/YekanBakh/YekanBakhFaNum08Fat.ttf');
    font-weight: 800;
}


$primary-font: 'YekanBakh';
