*{
    margin: $base-margin;
    padding: $base-padding;
    box-sizing: border-box;
}

.container-fluid{
    width: 100%;
    height: 100vh; 
    background-color: $secondary;
    background-image: url('../../../public/images/MapChart_Map-1\ 1.svg') url(../../../public/images/MapChart_Map-1\ 2@2x.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.sidebar{
    height: max-content; 
    background: $gradient-right;
    @include flex(column, flex-start, flex-start, nowrap, 30px);
    @include padding(20px); 
    border: 1px solid; 
    border-image: linear-gradient(to right, rgba(255, 255, 255, 0.11), rgba(255, 255, 255, 0)) 1;   
}

.sidebar a{
    @include link-style($text-gray,$hover-color: $text-white,$text-decoration: none)
}

.content{
    @include flex(column, center, flex-start, nowrap, 10px);
    @include padding(20px);
}

.title{    
    background: $gradient-left;
    border: 1px solid; 
    border-image: linear-gradient(to right, rgba(255, 255, 255, 0.11), rgba(255, 255, 255, 0)) 1;   
}

h1{
    @include font-style('YekanBakh', 19px, 700, $text-white, 1.5);
}

.card{
    @include flex(row, space-between, end, nowrap, 0);
    @include border(0);
    background-color: transparent;
}

.card .card-title{
    @include font-style('YekanBakh', 24px, 800, $primary, 1.5);
}

.card .card-text{
    @include font-style('YekanBakh', 19px, 400, $text-white, 1.5);
}

.card .clock{
    font-size: calc(1.325rem + .9vw);    
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    @include font-style('YekanBakh', 24px, 800, $text-white, 1.5);
}

.card .number{
    display: inline-block;
    max-width: 40px;
    min-width: 40px;  
    text-align: center;  
    background: $bg-clock;
    @include font-style('YekanBakh', 24px, 800, $primary, 1.5);
}

.content .date {
    @include flex(row, space-between, end, nowrap, 0);
    @include padding(20px);
    @include font-style('YekanBakh', 20px, 700, $text-white, 1.5);        
}

.date .number{
    @include font-style('YekanBakh', 20px, 700, $primary, 1.5);
}

.content .solar,.gregorian{
    background: $gradient-left;
    border: 1px solid; 
    border-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.11)) 1;     
}

.lunar{
    background: $gradient-right;
    border: 1px solid; 
    border-image: linear-gradient(to right, rgba(255, 255, 255, 0.11), rgba(255, 255, 255, 0)) 1;    
}

.button-group{
    @include flex(row, space-between, stretch, nowrap, 0);     
}

.button-before .btn{
    @include padding(16px, 20px, 16px, 200px);
    background: $gradient-left;
    @include font-style('YekanBakh', 22px, 800, $primary, 1.5);
    border: 1px solid; 
    border-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.11)) 1;  
}

.button-after .btn{
    @include padding(16px, 200px, 16px, 20px);
    background: $gradient-right;
    @include font-style('YekanBakh', 22px, 800, $primary, 1.5);
    border: 1px solid; 
    border-image: linear-gradient(to right, rgba(255, 255, 255, 0.11), rgba(255, 255, 255, 0)) 1;  
}
