@mixin flex($direction: row, $justify: flex-start, $align: stretch, $wrap: nowrap, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
  gap: $gap;
}

@mixin font-style($family: 'YekanBakh', $size: 16px, $weight: normal, $color: #fff, $line-height: 1.5) {
  font-family: $family;
  font-size: $size;
  font-weight: $weight;
  color: $color;
  line-height: $line-height;
}

@mixin responsive-font($min, $max, $viewport) {
  font-size: clamp($min, $viewport / 20, $max);
}

@mixin border($width: 1px, $type: solid, $color: #000, $radius: 0) {
    @if $width == 0 {
        border: 0;
      } @else {
        border: $width $type $color; 
        border-radius: $radius;
      }
}

@mixin padding($padding...) {
    @if length($padding) == 1 {
      padding: nth($padding, 1); // یک مقدار برای همه جهات
    } @else if length($padding) == 2 {
      padding: nth($padding, 1) nth($padding, 2); // عمودی و افقی
    } @else if length($padding) == 3 {
      padding: nth($padding, 1) nth($padding, 2) nth($padding, 3); // بالا، افقی، پایین
    } @else if length($padding) == 4 {
      padding: nth($padding, 1) nth($padding, 2) nth($padding, 3) nth($padding, 4); // بالا، راست، پایین، چپ
    } @else {
      padding: 0; // پیش‌فرض
    }
}

@mixin background-image($image-path, $repeat: no-repeat, $size: cover) {
    background-image: url($image-path);
    background-repeat: $repeat;
    background-size: $size;
}

@mixin set-width($width, $min-width: null, $max-width: null) {
    width: $width;    
    @if $min-width != null {
      min-width: $min-width;
    }    
    @if $max-width != null {
      max-width: $max-width;
    }
}

@mixin link-style($color, $hover-color: darken($color, 10%), $text-decoration: none) {
  color: $color;
  text-decoration: $text-decoration;
  transition: color 0.3s ease, text-decoration 0.3s ease;

  &:hover {
    color: $hover-color;
    text-decoration: none;
  }

  &:active {
    color: lighten($color, 10%);
    background-color: $primary;
  }
}

@mixin for-size($size) {
  @if $size == phone-only {
    @media (max-width: 576px) { @content; }
  } @else if $size == tablet-portrait-up {
    @media (max-width: 768px) { @content; }
  } @else if $size == tablet-landscape-up {
    @media (max-width: 992px) { @content; }
  } @else if $size == desktop-up {
    @media (max-width: 1200px) { @content; }
  } @else if $size == big-desktop-up {
    @media (max-width: 1400px) { @content; }
  }
}


